body {
  background: #ecf0f1;
  margin: 0;
  margin-top: 10%;
}

h4 {
  margin: 0;
}

#payment {
  background-color: #bdc3c7;
  width: 250px;
}

.mycolor {
  background-color: #74b9ff !important;
}
